.b-input__wrapper {
	display: block;
	background: #fff;
	padding: 0 20px;
	border: 1px solid #d9dada;
	position: relative;
	cursor: text;

	@include border-radius(3px);
	@include box-shadow(#fff 0 0 0 1px inset);
	@include transition-duration(0.13s);

	&:hover {
		border-color: #c2c2c2;
	}

	&.focused {
		border-color: #98b2e1;
		@include box-shadow(#98b2e1 0 0 0 1px inset);
	}
}

.b-input__wrapper_success {
	background: #F5FFE7 !important;
	border-color: #89CE10 !important;

	&:hover {
		border-color: #89CE10 !important;
	}

	&.focused {
		border-color: #89CE10 !important;
		@include box-shadow(none);
	}
}

.b-input,
.b-textarea {
	width: 100%;
	height: 26px;
	background: none;
	padding: 10px 20px;
	margin: 0 0 0 -20px;
	border: 0;

	font-family: OpenSansLight;
	color: $text_dark;
	font-size: 18px;
}


.b-checkbox__wrapper {
	@include s-checkbox;
	@include no-touch;

	white-space: nowrap;
	text-indent: 25px;

	&.checked {
		@include s-checkbox_checked;
	}
}

.b-hidden-input {
	margin-left: -9999px;
	width: 0;
	height: 0;
	border: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	line-height: 0;
	font-size: 0;
	z-index: -1;
}