.b-sidebar__wrapper {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}

.b-sidebar {
	width: 80px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;

	@include white-bg(0.8);
	@include box-shadow(rgba(0,0,0, 0.3) 0 1px 1px);

	.with_sidebar & {
		@include border-top-left-radius(5px);
	}
}

.b-sidebar__menu {

}

.b-sidebar__menu__item {
	width: 38px;
	height: 38px;
	display: block;
	padding: 21px;
	opacity: 0.5;

	&:hover {
		opacity: 1;
		@include white-bg(0.35);
	}

	&.active {
		cursor: default;
		background: #fff;
		opacity: 1;
	}

	.with_sidebar & {
		@include border-top-left-radius(5px);
	}

	&.disabled {
		background: none !important;
		cursor: default;
		opacity: 0.15 !important;
	}
}

.b-sidebar__menu__item__icon {

}

.b-sidebar__menu__item__icon_home {
	@include i-sections_home;
}

.b-sidebar__menu__item__icon_profile {
	@include i-sections_profile;
}

.b-sidebar__menu__item__icon_compare {
	@include i-sections_compare;
}

.b-sidebar__menu__item__icon_recommend {
	@include i-sections_recommend;
}
