@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/roboto/Roboto-Light-webfont.eot');
	src: url('../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
	url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
	url('../fonts/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
	src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
	url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
	url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'ProximaRegular';
	src: url('../fonts/proxima/proximanova-reg-webfont.eot');
	src: url('../fonts/proxima/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima/proximanova-reg-webfont.woff') format('woff'),
	url('../fonts/proxima/proximanova-reg-webfont.ttf') format('truetype'),
	url('../fonts/proxima/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaBold';
	src: url('../fonts/proxima/proximanova-bold-webfont.eot');
	src: url('../fonts/proxima/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima/proximanova-bold-webfont.woff') format('woff'),
	url('../fonts/proxima/proximanova-bold-webfont.ttf') format('truetype'),
	url('../fonts/proxima/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ProximaLight';
	src: url('../fonts/proxima/proximanova-light-webfont.eot');
	src: url('../fonts/proxima/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima/proximanova-light-webfont.woff') format('woff'),
	url('../fonts/proxima/proximanova-light-webfont.ttf') format('truetype'),
	url('../fonts/proxima/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'PTSans';
	src: url('../fonts/ptsans/PTS55F-webfont.eot');
	src: url('../fonts/ptsans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ptsans/PTS55F-webfont.woff') format('woff'),
	url('../fonts/ptsans/PTS55F-webfont.ttf') format('truetype'),
	url('../fonts/ptsans/PTS55F-webfont.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans/opensans-regular-webfont.eot');
	src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/opensans/opensans-light-webfont.eot');
	src: url('../fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/opensans-light-webfont.woff') format('woff'),
	url('../fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
	url('../fonts/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/opensans/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
	url('../fonts/opensans/opensans-semibold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}