@mixin sprite {
	display: block;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
}

@mixin s__track-play-btn {
	@include sprite;

	width: 24px;
	height: 22px;
	background-position: 0 0;
}
